*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
  margin-top: -1.8vh;
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Lora', serif;
}

.navBar, .subContent1, .subContent2, .subContent3 {
  background-color: white;
}

ul {
    margin: 0;
    padding: 13px;
    height: 40px;
    background-color: #F7F7F7;
    padding-bottom: 14px;
}

a {
  text-decoration: none;
  color: black;
}

li {
    display: inline;
    font-size: 10px;
    padding: 1px;
}

h1 {
  display: block;
  padding: 5px 13px;
  padding-top: 15px;
  font-size: 0.8em;
  font-weight: lighter;
}

h3 {
  margin-bottom: -20px;
  font-weight: lighter;
  padding: 5px 0;
  margin: 5px 0;
}

h5, p {
  font-weight: lighter;
  padding: 5px;
  margin: 5px;
}

h4 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
  font-size: 0.8em;
  font-weight: lighter;
  padding-left: 0;
}

p {
  line-height: 190%;
  font-size: 0.8em;

}

.mainContent {
  color: white;
}

img {
    width: 100%;
    height: 100%;
}

.subContent1, .subContent2{
  height: 100%;
  width: 100%;
  margin-bottom: 18px;
  overflow: auto;
}

/* MEDIA QUERIES
======================*/

@media only screen and (min-width: 600px) {

   .wrapper {
     background-color: white;
   }

  .navBar {
    position: absolute;
  }

  li {
    display: block;
  }

  .mainContent {
    width: 100%;
    height: 65vh;
    background-color: black;
  }

  html {
    background-color: white;
    margin-left: -2%;
    margin-bottom: 0;
  }

  .navBar {
    height: 175px;
    width: 175px;
    background: rgba(204, 204, 204, 0.95);
    top: 50px;
    left: 50px;
  }

  ul {
    background-color: rgba(204, 204, 204, 0);
  }

  img {
    width: 82vh;
    height: 65vh;
    float: left;
  }

  h4, h3 {
    top: -11vh;
    left: 40px;
    position: relative;
  }

  .subContent1 {
    display: none;
  }

  .subContent2, .subContent3 {
    background-color: black;
    color: white;
    width: 50%;
    margin-top: 10px;
    display: table;
    float: left;
  }

  .subContent2 {
    padding: 30px;
    background-color: #191919;
    text-align: center;
    border-right: 5px solid white;
    height: 300px;
  }

  .subContent2 p {
    font-size: 1.7em;
    text-align: center;
  }

  .subContent3 {
    padding: 30px;
    border-left: 5px solid white;
    height: 300px;
  }
}

@media only screen and (min-width: 831px) {

  html, body, .wrapper {
      margin: 0;
      height: 100%;
      background-color: transparent;
      /*max-height: 300px;*/
  }


body {
  background-image: url("../img/chihuly.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  display: inline;
  /*width: 100%;
  height: 100%;*/
  /*max-width: 100px;
  max-height: 2900vh;*/
}

img {
  display: none;
}

  .mainContent {
    background-color: transparent;
/*max-width: 100vh;*/
    float: left;
    /*max-width: 70%;*/
    /*height: 100vh;*/
    /*background-image: url("../img/chihuly.jpg");*/
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 100%;
  }

  .subContent2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50%;
    margin-top: 0;
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 5px solid white;
  }

  .subContent3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 50%;
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-top: 5px solid white;
  }

  .subContent {
    float: right;
    /*width: 30%;*/
    /*padding: 0 0 0 15px;*/
    /*height: 100vh;*/
    /*overflow-y: hidden;
    overflow-x: hidden;*/
  }


}
